# Python Basic

In [1]:
print("Hello world")

Hello world

In [2]:
print('Shivam')

Shivam

In [2]:
# python version check

import sys   # sys-> system

print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [3]:
print('Hello world')

Hello world

In [4]:
print('Hello Python')

Hello Python

In [5]:
print('Hello')

Hello

In [6]:
# ''  --> Single quotes

# "" --> Double quotes.

# """""" ---> Triple quotes

# '''''' ---> Truple quotes


print('Hello world')

Hello world

In [7]:
print("Hello world")

Hello world

In [8]:
# print --> Print is a keyword to display the output.

In [11]:
# comment: you can write comment using '#'

In [12]:
print('Hello world')
print("This is a string")
print('Hello Pune')

Hello world
This is a string
Hello Pune

In [13]:
# string
print('hello')
print('100')
print('2000')

hello
100
2000

In [14]:
2+2

4

In [15]:
100+200

300

In [16]:
'100'+'200'   # string can't be perform addition it works like concatenation.

'100200'

In [17]:
200+200

400

In [18]:
print('He is good boy')

He is good boy

In [19]:
Hello world

SyntaxError: invalid syntax (2283479775.py, line 1)

In [20]:
100

100

In [21]:
'100'

'100'

In [25]:
print(abc100)

NameError: name 'abc100' is not defined

In [26]:
"abc100"

'abc100'

In [27]:
# Python Data types 

# 1). string
print('Hello world')
print('100')
print("Hello Python")

# 2). Integer  # without a decimal value
print(100)
print(1000)
print(200)
print(2000)

# 3).float # with a decimal value
print(100.0)
print(200.36)
print(1000.56)

# 4). Boolean
print(True)
print(False)

Hello world
100
Hello Python
100
1000
200
2000
100.0
200.36
1000.56
True
False

In [44]:
# type() function

# string

print(type("Hello Abhishek"))   # str is shortform of string
print(type('Hello world'))   # string
print(type('1000'))   # string



# Inetger   # withour a decimal point
print(type(100))
print(type(200))
print(type(10000))


# float   # with a decimal point
print(type(100.0))
print(type(200.23))
print(type(10000.56))
print(type('156.23'))   # it is string bcz it is in string



# Boolean

print(type(True))   # T is always in capital 
print(type(False))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [60]:
# Data typecasting   # Change their data type

num=100                      # num is a variable and its data type is integer
print(num)
print(type(num))

# float, string

print(float(num))   # 100.0
print(type(float(num)))


# string
print(str(num))
print(type(str(num)))

100
<class 'int'>
100.0
<class 'float'>
100
<class 'str'>

In [66]:
number=3.14
print(number)
print(type(number))

# string,integer
print(str(number))
print(type(str(number)))

# integer
print(int(number))   # without decimal value
print(type(int(number)))

3.14
<class 'float'>
3.14
<class 'str'>
3
<class 'int'>

In [73]:
bool_1=True
print(bool_1)
print(type(bool_1))


# integer, string, float
print(int(bool_1))
print(type(int(bool_1)))

# string  True
print(str(bool_1))
print(type(str(bool_1)))


# float 1.0
print(float(bool_1))
print(type(float(bool_1)))

True
<class 'bool'>
1
<class 'int'>
True
<class 'str'>
1.0
<class 'float'>

In [80]:
bool_2=False
print(bool_2)
print(type(bool_2))

# string, float, integer

print(str(bool_2))
print(type(str(bool_2)))

# float = 0.0
print(float(bool_2))
print(type(float(bool_2)))

# integer = 0
print(int(bool_2))
print(type(int(bool_2)))

False
<class 'bool'>
False
<class 'str'>
0.0
<class 'float'>
0
<class 'int'>

In [84]:
# find their data types with perform calculation

print(9/3)   # forward slash (float division)
print(9//3)   # division

print(type(9/3))
print(type(9//3))

3.0
3
<class 'float'>
<class 'int'>

In [86]:
# Expression and Variable

x = 89+45+63+78-92*3   # Expression and x is variable  # Bodmas
print(x)
print(type(x))

-1
<class 'int'>

In [87]:
# substraction

x = 78-89-100
print(x)

-111

In [88]:
# Multiplication

x=8*78
print(x)

624

In [90]:
# Division

x = 125/24
print(x)
print(type(x))

5.208333333333333
<class 'float'>

In [92]:
# floor division

x = 125//24
print(x)
print(type(x))

5
<class 'int'>

In [95]:
# Modulus
x=10%2
print(x)

0

In [96]:
y=10%3
print(y)

1

In [97]:
# Exponent
x=2**3   # 2x2x2=8
print(x)

8

In [98]:
x=3**3     # 3x3x3=27
print(x)

27

In [100]:
# An Example: Let's calculate how many minutes are there in 50 hrs.

one_hrs= 60 
hours= 50

minutes= one_hrs*hours
print(minutes,'minutes')

3000 minutes

In [102]:
# An Example: Let's calculate how many hours there are in 542 minutes.

minutes=542
one_hours= 60

hours= minutes/one_hrs
print(hours,'Hours')

9.033333333333333 Hours